Repository liblouis/liblouis, pull requests merged in 2018-11, with the labels that each got.

#661 UEB updates
  tables/en-ueb-chardefs.uti
  tables/en-ueb-g2.ctb
  tests/braille-specs/en-ueb-02-stand_alone.yaml
  tests/braille-specs/en-ueb-10-07-contractions.yaml
  tests/braille-specs/en-ueb-10-13-contractions.yaml
  tests/braille-specs/en-ueb-g1_harness.yaml
  tests/braille-specs/en-ueb-g2-dictionary_harness.yaml
Labels: UEB, tables

#663 Improve Polish Grade 1 table, to make back-translations of diacritics working
  tables/Pl-Pl-g1.utb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/Pl-Pl-g1_backward.yaml
Labels: needs test, tables

#646 Add common mode flags to lou_translate and lou_trace
  NEWS
  tools/lou_trace.c
  tools/lou_translate.c
Labels: enhancement

#671 Update zh-tw.ctb to version 2018-11
  tables/zh-tw.ctb
  tests/Makefile.am
  tests/braille-specs/zh-tw.yaml
Labels: tables

#656 Update Braille Tables for 'ZHCN'
  NEWS
  tables/zhcn-g1.ctb
  tables/zhcn-g2.ctb
  tests/braille-specs/zhcn-g1.yaml
  tests/braille-specs/zhcn-g2.yaml
Labels: tables

#399 Tables/turkish grade 2
  tables/Makefile.am
  tables/tr-g2.ctb
  tables/tr-g2.tbl
Labels: tables, waiting for feedback
