Repository liblouis/liblouis, pull requests merged in 2019-06, with the labels that each got.

#744 Add Hungarian grade1 Braille input related rules, and some modifications to the Hungarian table files
  tables/Makefile.am
  tables/hu-hu-comp8.ctb
  tables/hu-hu-g1.ctb
  tables/hu-hu-g1_braille_input.cti
  tables/hu-hu-g2.ctb
Labels: tables

#751 Remove restrictions on which characters/cells can be used in translation rules
  NEWS
  doc/liblouis.texi
  liblouis/compileTranslationTable.c
  tests/Makefile.am
  tests/yaml/Makefile.am
  tests/yaml/issue-332.yaml
  tests/yaml/issue-332_hyph.dic
Labels: enhancement

#760 Issue in Dutch with numbers inside all-caps phrases
  tables/nl-g0.uti
  tests/braille-specs/nl-g0_harness.yaml
Labels: tables

#738 Removed unnecessary characters and kept the required one's.
  NEWS
  tables/mn-MN-common.cti
  tables/mn-MN-g1.utb
  tables/mn-MN-g2.ctb
  tests/braille-specs/mn-MN_harness.yaml
  tests/braille-specs/spaces.yaml
Labels: back-translation, tables

#756 Fix issue #498
  NEWS
  liblouis/lou_translateString.c
  tests/yaml/issue-498.yaml
Labels: bug

#768 Remove the _lou_getLastTableList function
  liblouis/compileTranslationTable.c
  liblouis/internal.h
Labels: cleanup/refactoring
