Repository liblouis/liblouis, pull requests merged in 2019-08, with the labels that each got.

#790 tables/de-de-comp8.ctb: add a mapping for 0x2019
  tables/de-de-comp8.ctb
Labels: tables

#741 Spanish grade 2 fixes and updates
  NEWS
  tables/es-g2.ctb
Labels: needs test, tables

#821 Document valid class, grouping and swap names
  doc/liblouis.texi
Labels: documentation

#762 Some improvements to lou_checkyaml test reporting
  tools/brl_checks.c
  tools/lou_checkyaml.c
Labels: needs news, test framework

#825 tables/nl-chardefs.uti: Bullet and dot operators fix
  AUTHORS
  NEWS
  tables/nl-chardefs.uti
  tests/braille-specs/nl-g0_harness.yaml
Labels: tables

#784 Python wrapper: createEncodedByeString > createEncodedByteString and allow surrogates on Python 3
  python/louis/__init__.py.in
Labels: Python, documentation

#800 Add IPA support into zh-tw.ctb
  AUTHORS
  tables/zh-tw.ctb
  tests/braille-specs/zh-tw.yaml
Labels: needs news, tables

#792 tables/en-ueb-g1.ctb: comment 'repeated _ 46-36'
  tables/en-ueb-g1.ctb
  tests/braille-specs/en-ueb-g1_harness.yaml
Labels: tables

#795 Various fixes to el.ctb:
  tables/Makefile.am
  tables/el.ctb
  tables/el.tbl
  tests/braille-specs/el-backward.yaml
  tests/braille-specs/el-forward.yaml
  tests/braille-specs/spaces.yaml
Labels: needs news, tables

#793 Irish may2019
  NEWS
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/ga-g1.utb
  tables/ga-g2.ctb
  tables/ga.tbl
  tests/braille-specs/ga-g1_harness.yaml
  tests/braille-specs/ga-g2_harness.yaml
  tests/braille-specs/spaces.yaml
Labels: tables
