Repository liblouis/liblouis, pull requests merged in 2019-12, with the labels that each got.

#878 Update zh-tw.ctb version to 2019-11
  tables/zh-tw.ctb
  tests/braille-specs/zh-tw.yaml
Labels: needs news

#876 Fix endless loop
  doc/liblouis.texi
  liblouis/compileTranslationTable.c
  liblouis/lou_translateString.c
  tests/yaml/multipass-forward.yaml
Labels: needs news

#866 Additional fixes to Polish grade 1
  tables/Pl-Pl-g1.utb
  tables/pl-pl-comp8.ctb
  tests/braille-specs/Pl-Pl-g1_harness.yaml
  tests/braille-specs/pl-pl-comp8_harness.yaml
Labels: needs news, tables

#874 Raise error if a dot pattern can not be displayed
  liblouis/compileTranslationTable.c
  liblouis/lou_backTranslateString.c
  liblouis/lou_translateString.c
  liblouis/maketable.c
  tests/yaml/issue-332.yaml
  tests/yaml/issue-77.yaml
Labels: enhancement, needs news

#812 fr-bfu-comp68.cti & IPA-unicode-range.uti: various fixes
  tables/IPA-unicode-range.uti
  tables/IPA.utb
  tables/fr-bfu-comp68.cti
Labels: needs test, tables, wip

#786 Beginning work to improve UEB
  NEWS
  tables/en-ueb-g2.ctb
  tests/braille-specs/en-ueb-g2-dictionary_harness.yaml
Labels: tables

#879 Update to the Danish tables
  NEWS
  tables/Makefile.am
  tables/da-dk-6miscChars.cti
  tables/da-dk-8miscChars.cti
  tables/da-dk-g18.ctb
  tables/da-dk-g28.ctb
  tables/da-dk-g28l.ctb
  tests/braille-specs/da-dk-g18.yaml
  tests/braille-specs/da-dk-g28.yaml
Labels: needs test, tables
