Repository liblouis/liblouis, pull requests merged in 2020-11, with the labels that each got.

#1010 Tables/malayalam
  tables/malayalam.cti
  tests/braille-specs/ml.yaml
Labels: needs news, tables

#896 Drop Python 2 support
  python/louis/__init__.py.in
Labels: Python, refactoring, waiting, wip

#1008 Tables/urdu
  tables/ur-pk-g1.utb
  tables/ur-pk-g2.ctb
  tests/braille-specs/ur-pk-g2.yaml
Labels: needs fixup, needs news, tables

#1030 Update < and > symbols in the Arabic tables thanks to Ikrami Ahmad
  NEWS
  tables/ar-ar-comp8.utb
  tables/ar-ar-g1-core.uti
  tables/ar-ar-g1.utb
  tables/ar-ar-g2.ctb
  tables/ar-ar-math.uti
  tables/ar.tbl
  tests/braille-specs/ar-ar-g1.yaml
Labels: tables

#1006 Various improvements to emphasis handling
  AUTHORS
  NEWS
  doc/liblouis.texi
  liblouis/compileTranslationTable.c
  liblouis/internal.h
  liblouis/lou_translateString.c
  tables/en-ueb-chardefs.uti
  tables/en-ueb-g1.ctb
  tables/fr-bfu-comp6.utb
  tables/nl-g0.uti
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/de-emphasis.yaml
  tests/braille-specs/en-ueb-08-capitalization.yaml
  tests/braille-specs/en-ueb-g1_harness.yaml
  tests/braille-specs/fr-bfu-comp6.yaml
  tests/braille-specs/nl-g0_harness.yaml
  tests/braille-specs/no_typeform_harness.yaml
  tests/yaml/emphasis.yaml
Labels: enhancement

#1032 Try gh actions for ci
  .github/workflows/check-format.yml
  .github/workflows/main.yml
  .github/workflows/mingw.yml
  .travis.yml
  configure.ac
Labels: needs fixup
