Repository liblouis/liblouis, pull requests merged in 2020-08, with the labels that each got.

#980 Improvements to Afrikaans thanks to Christo de Klerk
  NEWS
  tables/afr-za-g2.ctb
  tests/braille-specs/afr-za-g2.yaml
Labels: tables

#975 Tables/malayalam
  NEWS
  tables/malayalam.cti
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/ml.yaml
Labels: back-translation, tables

#977 Improvements to Malay table and test by Herbert Koh
  NEWS
  tables/ms-my-g2.ctb
  tests/braille-specs/ms-my-g2.yaml
Labels: tables

#976 Fixes for Hebrew 6 dot table
  NEWS
  tables/he-IL.utb
  tests/braille-specs/he-IL.yaml
Labels: tables

#987 Coptic Table
  extra/generate-display-names/display-names
  tables/Cop-Eg-Comp8.utb
  tests/Makefile.am
  tests/braille-specs/Cop-Eg.yaml
  tests/braille-specs/Makefile.am
Labels: needs doc, tables

#983 Portuguese characters o, ç, ó and õ
  NEWS
  tables/pt-pt-g1.utb
  tests/braille-specs/litdigits6Dots_backward.yaml
  tests/braille-specs/pt-g1.yaml
Labels: back-translation, tables, waiting
