Repository liblouis/liblouis, pull requests merged in 2020-05, with the labels that each got.

#935 Add uzbek table based on Russian.
  AUTHORS
  NEWS
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/uz-g1.utb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/uz.yaml
Labels: needs metadata, tables

#957 New Ukrainian computer braille table based on russian computer code
  AUTHORS
  NEWS
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/uk-comp.utb
  tests/braille-specs/uk.yaml
Labels: tables

#951 Merge class and attribute
  NEWS
  doc/liblouis.texi
  liblouis/compileTranslationTable.c
  liblouis/internal.h
  liblouis/lou_backTranslateString.c
  liblouis/lou_translateString.c
  liblouis/pattern.c
  liblouis/utils.c
  tables/bengali.cti
  tables/cs-translation.cti
  tables/da-dk-g16-lit.ctb
  tables/da-dk-g16.ctb
  tables/da-dk-g26-lit.ctb
  tables/da-dk-g26.ctb
  tables/da-dk-g26l-lit.ctb
  tables/da-dk-g26l.ctb
  tables/da-dk-g28.ctb
  tables/da-dk-g28l.ctb
  tables/de-g0-bidi-core.uti
  tables/de-g0-core.uti
  tables/devanagari.cti
  tables/el.ctb
  tables/en-ueb-g2.ctb
  tables/es-g2.ctb
  tables/fi.utb
  tables/fr-bfu-g2.ctb
  tables/gujarati.cti
  tables/gurumuki.cti
  tables/hu-hu-g2.ctb
  tables/kannada.cti
  tables/malayalam.cti
  tables/nl-g0.uti
  tables/no-no-g0.utb
  tables/no-no-latinLetterDef6Dots_diacritics.uti
  tables/oriya.cti
  tables/ru-compbrl.ctb
  tables/ru-litbrl.ctb
  tables/sk-translation.cti
  tables/sl-si-g1.utb
  tables/telugu.cti
  tables/uk.utb
  tables/zh-tw.ctb
  tables/zhcn-g1.ctb
  tables/zhcn-g2.ctb
  tests/Makefile.am
  tests/tables/loop.ctb
  tests/yaml/Makefile.am
  tests/yaml/attribute.yaml
  tests/yaml/before_begmidword.yaml
  tests/yaml/hyphenation_nocross_harness.yaml
  tests/yaml/issue-332.yaml
  tests/yaml/multipass-backward.yaml
  tests/yaml/multipass-forward.yaml
  tests/yaml/multipass-vs-match.yaml
  tools/lou_debug.c
Labels: cleanup

#913 Test display tables with lou_checkyaml
  NEWS
  doc/liblouis.texi
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/de-eurobrl6.yaml
  tools/brl_checks.c
  tools/brl_checks.h
  tools/lou_checkyaml.c
Labels: enhancement, test framework
