Repository liblouis/liblouis, pull requests merged in 2020-06, with the labels that each got.

#958 Improvements to Arabic by Ikrami Ahmad
  NEWS
  tables/Makefile.am
  tables/ar-ar-comp8.utb
  tables/ar-ar-g1-core.uti
  tables/ar-ar-g1.utb
  tables/ar-ar-g2.ctb
  tables/ar-ar-math.uti
  tables/ar.tbl
  tests/braille-specs/ar-ar-comp8.yaml
  tests/braille-specs/ar-ar-g1.yaml
  tests/braille-specs/ar-ar-g1_harness.yaml
  tests/braille-specs/ar-ar-g2.yaml
Labels: tables

#920 Add tests for German and add missing noletsign rules
  NEWS
  tables/de-g2-core.cti
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/de-g0-specs.yaml
  tests/braille-specs/de-g1-specs.yaml
  tests/braille-specs/de-g2-specs.yaml
Labels: tables

#956 Updates to Dutch 8 dot table
  NEWS
  extra/generate-display-names/display-names
  tables/nl-comp8.utb
  tests/braille-specs/nl-comp8_harness.yaml
Labels: cleanup, needs metadata, tables

#955 Added new uncontracted Hebrew 6 dot table and new braille signs to the 8dot table.
  AUTHORS
  NEWS
  extra/generate-display-names/display-names
  extra/generate-display-names/generate.c
  tables/Makefile.am
  tables/he-IL-comp8.utb
  tables/he-IL.utb
  tables/he.tbl
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/he-IL.yaml
Labels: tables

#902 New table for grade 2 Malay braille (Malaysia) thanks to Herbert Koh
  AUTHORS
  NEWS
  extra/generate-display-names/display-names
  liblouis/lou_translateString.c
  tables/Makefile.am
  tables/ms-my-g2.ctb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/ms-my-g2.yaml
  tests/yaml/repword.yaml
Labels: tables

#960 Build documentation on Travis
  .travis/before_install/gcc.sh
  doc/liblouis.texi
Labels: build system
