Repository liblouis/liblouis, pull requests merged in 2020-02, with the labels that each got.

#883 Fixes #882
  python/louis/__init__.py.in
Labels: Python

#889 Fix issue 886
  liblouis/lou_translateString.c
  tests/Makefile.am
  tests/yaml/Makefile.am
  tests/yaml/issue-886.yaml
Labels: needs news

#867 nocross as prefix opcode
  NEWS
  doc/liblouis.texi
  liblouis/compileTranslationTable.c
  liblouis/internal.h
  liblouis/lou_backTranslateString.c
  liblouis/lou_translateString.c
  liblouis/maketable.c
  tables/da-dk-g26-lit.ctb
  tables/da-dk-g26.ctb
  tables/da-dk-g28.ctb
  tables/de-g1-core.cti
  tables/de-g2-core.cti
  tests/tables/Makefile.am
  tests/tables/nocross.ctb
  tests/tables/suggestChunks.ctb
  tests/yaml/hyphenation_nocross_harness.yaml
  tools/lou_maketable.d/submit_rows.sh
  tools/lou_maketable.d/submit_rules.py
  tools/lou_maketable.d/submit_rules.sh
  tools/lou_maketable.d/utils.py
Labels: enhancement

#899 Enable sponsor button
  .github/FUNDING.yml
Labels: task

#901 Improvements to Afrikaans thanks to Christo de Klerk
  NEWS
  tables/afr-za-g1.ctb
  tables/afr-za-g2.ctb
  tests/braille-specs/afr-za-g2.yaml
Labels: tables

#900 Python bindings: always use mbcs on windows to encode file path, `getTypeformForEmphClass` fix and clean up
  NEWS
  python/louis/__init__.py.in
Labels: Python

#904 Add new opcode rependword
  NEWS
  doc/liblouis.texi
  liblouis/compileTranslationTable.c
  liblouis/internal.h
  liblouis/lou_translateString.c
  tests/yaml/repword.yaml
Labels: enhancement

#908 Tables/urdu
  tables/ur-pk-g1.utb
  tables/ur-pk-g2.ctb
  tests/braille-specs/ur-pk-g2.yaml
Labels: needs news, tables

#909 Rework documentation of emphasis opcodes
  doc/liblouis.texi
Labels: documentation

#910 Update zh-tw.ctb version to 2020-02
  tables/zh-tw.ctb
  tests/braille-specs/zh-tw.yaml
Labels: needs news, tables
