Repository liblouis/liblouis, pull requests merged in 2021-12, with the labels that each got.

#1134 Update zh-tw.ctb version 2021-11
  tables/zh-tw.ctb
  tests/braille-specs/zh-tw.yaml
Labels: tables, needs news

#1112 Improvements to the Russian braille
  NEWS
  tables/Makefile.am
  tables/ru-brf.dis
  tables/ru-litbrl-detailed.utb
  tables/ru-litbrl.ctb
  tables/ru-ru-g1.ctb
  tables/ru-ru.dis
  tables/uz-g1.utb
  tests/braille-specs/ru.yaml
  tests/braille-specs/uz.yaml
Labels: tables

#1078 Further UEB improvements
  NEWS
  tables/en-ueb-chardefs.uti
  tables/en-ueb-g1.ctb
  tables/en-ueb-g2.ctb
  tests/braille-specs/en-ueb-05-grade_1_mode.yaml
  tests/braille-specs/en-ueb-06-numeric_mode.yaml
  tests/braille-specs/en-ueb-g2-dictionary_harness.yaml
  tests/braille-specs/en-ueb-symbols_harness.yaml
Labels: tables

#1093 Add macro feature
  .github/workflows/macro.yml
  configure.ac
  liblouis/compileTranslationTable.c
  liblouis/internal.h
  tests/Makefile.am
  tests/yaml/Makefile.am
  tests/yaml/macro.utb
  tests/yaml/macro.yaml
Labels: enhancement, needs doc

#1137 Common table for Dutch, and implement alphabet change marker
  NEWS
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/nl-BE-g0.utb
  tables/nl-NL-g0.utb
  tables/nl-g0.uti
  tables/nl.tbl
  tables/nl_BE.tbl
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/litdigits6Dots_backward.yaml
  tests/braille-specs/nl-NL-g0_harness.yaml
  tests/braille-specs/nl-g0_harness.yaml
  tests/braille-specs/spaces.yaml
Labels: tables

#1139 Some minor stylistic doc improvements
  doc/liblouis.texi
Labels: documentation
