Repository liblouis/liblouis, pull requests merged in 2021-09, with the labels that each got.

#1108 Remove wrong rules using literal opcode from the Polish grade 1 table and add tests showing the correct behavior
  NEWS
  tables/Pl-Pl-g1.utb
  tests/braille-specs/pl-g1.yaml
Labels: tables

#1109 Fix the ru-litbrl.ctb and add new contraction table
  AUTHORS
  NEWS
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/ru-compbrl.ctb
  tables/ru-litbrl-detailed.utb
  tables/ru-litbrl.ctb
  tables/ru-ru-g1.ctb
  tests/braille-specs/ru.yaml
Labels: tables, back-translation

#1116 Fix bug discovered by Dang Hoai Phúc
  liblouis/compileTranslationTable.c
  tests/yaml/issue-332.yaml
Labels: bug

#1111 Small fixes to Polish G1
  NEWS
  tables/Pl-Pl-g1.utb
  tables/pl.tbl
  tests/braille-specs/litdigits6Dots_backward.yaml
  tests/braille-specs/pl-g1.yaml
Labels: tables
