Repository liblouis/liblouis, pull requests merged in 2021-03, with the labels that each got.

#856 Fix some valgrind issues
  liblouis/compileTranslationTable.c
  liblouis/lou_translateString.c
Labels: needs news

#1046 Adding new Belorussian braille tables
  NEWS
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/bel-comp.utb
  tables/bel.utb
  tables/ru.ctb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/bel.yaml
Labels: tables

#1048 Drop travis as we've migrated to gh actions
  .github/workflows/emscripten.yml
  .github/workflows/scripts/emscripten-build-command.sh
  .github/workflows/scripts/emscripten-build.sh
  .travis.yml
  .travis/after_success/emscripten.sh
  .travis/after_success/mingw.sh
  .travis/before_install/emscripten.sh
  .travis/before_install/gcc.sh
  .travis/before_install/mingw.sh
  .travis/script/check-format.sh
  .travis/script/emscripten.sh
  .travis/script/gcc.sh
  .travis/script/mingw.sh
  .travis/secrets/deploy_key.enc
Labels: build system

#1050 tables/fr-bfu-comp6: favor @ in backtranslate for ⠜ (insted of æ)
  tables/fr-bfu-comp6.utb
  tests/braille-specs/fr-bfu-comp6.yaml
  tests/braille-specs/fr-bfu-comp8.yaml
  tests/braille-specs/fr-bfu-g2.yaml
Labels: back-translation, needs news, tables

#1056 Update oss-fuzz build file
  tests/fuzzing/build.sh
Labels: build system

#1055 Improvements to Urdu tables and added tests.
  NEWS
  tables/ur-pk-g1.utb
  tables/ur-pk-g2.ctb
  tests/braille-specs/ur-pk-g2.yaml
Labels: needs news
