Repository liblouis/liblouis, pull requests merged in 2021-06, with the labels that each got.

#1083 Eliminate lastToken variable
  NEWS
  liblouis/compileTranslationTable.c
Labels: needs news, refactoring

#720 adding northern kurdish table
  extra/generate-display-names/display-names
  extra/generate-display-names/displayLanguage.go
  tables/Makefile.am
  tables/kmr.tbl
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/kmr.yaml
Labels: needs metadata, tables

#1052 Bulgarian 6 dot tables by Rumyana Kamenska
  AUTHORS
  NEWS
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/bg.dis
  tables/bg.utb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/bg.yaml
Labels: needs metadata, tables

#683 Khmer, Burmese and Vietnamese
  AUTHORS
  NEWS
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/km-g1.utb
  tables/my-g1.utb
  tables/my-g2.ctb
  tables/vi-charsdef.uti
  tables/vi-g1.ctb
  tables/vi-lettersdef.uti
  tables/vi-puncsdef.uti
  tables/vi-saigon-g1.ctb
  tables/vi-vn-g0.utb
  tables/vi-vn-g1.ctb
  tables/vi-vn-g2.ctb
  tables/vi.tbl
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/spaces.yaml
  tests/braille-specs/vi-g1_backward.yaml
  tests/braille-specs/vi-g1_harness.yaml
  tests/braille-specs/vi.yaml
Labels: tables

#1082 Fixed Hebrew 8-dot computer table as per issue 1081.
  NEWS
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/he-IL-comp8.utb
  tables/he.ctb
  tables/he.tbl
  tests/braille-specs/he-IL.yaml
  tests/braille-specs/spaces.yaml
Labels: needs metadata
