Repository liblouis/liblouis, pull requests merged in 2022-01, with the labels that each got.

#1146 Fix autogen.sh: find command did not work on macOS
  autogen.sh
Labels: build system

#1143 Table mostly whitespace fixes
  tables/afr-za-g2.ctb
  tables/bengali.cti
  tables/cop-eg-comp8.utb
  tables/cy-cy-g1.utb
  tables/cy-cy-g2.ctb
  tables/da-dk-octobraille.dis
  tables/el.ctb
  tables/eo-g1.ctb
  tables/fr-bfu-comp68.cti
  tables/ga-g2.ctb
  tables/gujarati.cti
  tables/gurumuki.cti
  tables/hu-chardefs.cti
  tables/my-g1.utb
  tables/oriya.cti
  tables/se-se.dis
  tables/telugu.cti
  tables/text_nabcc.dis
  tables/uni-text.dis
Labels: tables, cleanup

#1150 Remove generated files from source control
  .gitignore
  gnulib/wchar.h
  tools/gnulib/fcntl.h
  tools/gnulib/time.h
  tools/gnulib/wchar.h
Labels: build system

#1144 Fixed emphasis, section sign and and dash between numbers
  NEWS
  tables/da-dk-g16-lit.ctb
  tables/da-dk-g16.ctb
  tables/da-dk-g18.ctb
  tables/da-dk-g26-lit.ctb
  tables/da-dk-g26.ctb
  tables/da-dk-g26l-lit.ctb
  tables/da-dk-g26l.ctb
  tables/da-dk-g28.ctb
  tables/da-dk-g28l.ctb
  tests/braille-specs/da-dk-g16-lit.yaml
  tests/braille-specs/da-dk-g16.yaml
  tests/braille-specs/da-dk-g18.yaml
  tests/braille-specs/da-dk-g26-lit.yaml
  tests/braille-specs/da-dk-g26.yaml
  tests/braille-specs/da-dk-g26l-lit.yaml
  tests/braille-specs/da-dk-g26l.yaml
  tests/braille-specs/da-dk-g28.yaml
  tests/braille-specs/da-dk-g28l.yaml
Labels: tables
