Repository liblouis/liblouis, pull requests merged in 2022-08, with the labels that each got.

#1218 Remove unused function argument
  liblouis/lou_translateString.c
Labels: cleanup

#1228 removed the computer braille indicator part, it's not official Braille Kanji's rule
  tables/ja-kantenji.utb
  tests/braille-specs/ja-kantenji.yaml
Labels: tables, needs news

#1230 compileTranslationTable: Check replacement characters []
  liblouis/compileTranslationTable.c
  tables/hu-hu-g1_braille_input.cti
Labels: bug, needs news

#1229 _lou_translate: realloc buffers when table needs several passes
  liblouis/lou_translateString.c
Labels: bug, needs news

#1238 Problems in the Ukrainian braille table and priority of `base` rules
  NEWS
  tables/bel.utb
  tables/kk.utb
  tables/uk.utb
  tests/braille-specs/uk.yaml
  tests/yaml/precedence.yaml
Labels: tables

#1240 Fixes UEB grade 2 punctuation being ambiguous with initial groupsigns
  AUTHORS
  NEWS
  tables/en-ueb-g2.ctb
  tests/braille-specs/en-ueb-computer-code.yaml
Labels: tables

#1244 Update zh-tw.ctb to version 2022-08
  NEWS
  tables/zh-tw.ctb
  tests/braille-specs/zh-tw.yaml
Labels: tables

#1237 Kinyarwanda grade 1 table
  NEWS
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/rw-rw-g1.utb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/rw-rw-g1.yaml
Labels: tables

#1233 Added 'Chinese Mandarin Chinese Common Braille Scheme'
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/zh_CHN.tbl
  tables/zhcn-cbs.ctb
  tables/zhcn-g1.ctb
  tables/zhcn-g2.ctb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/zhcn-cbs.yaml
Labels: needs news

#1246 Improvements to the Russian contracted braille table and changing my email
  AUTHORS
  NEWS
  tables/bel-comp.utb
  tables/bel.utb
  tables/kk.utb
  tables/ru-brf.dis
  tables/ru-litbrl-detailed.utb
  tables/ru-litbrl.ctb
  tables/ru-ru-g1.ctb
  tables/ru.ctb
  tables/sah.utb
  tables/tt.utb
  tables/uk-comp.utb
  tests/braille-specs/ba.yaml
  tests/braille-specs/bel.yaml
  tests/braille-specs/kk.yaml
  tests/braille-specs/ru.yaml
  tests/braille-specs/sah.yaml
  tests/braille-specs/tt.yaml
  tests/braille-specs/uk.yaml
Labels: tables
