Repository liblouis/liblouis, pull requests merged in 2022-05, with the labels that each got.

#1196 Eliminate no.tbl
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/no-no-g3.ctb
  tables/no.tbl
  tests/braille-specs/spaces.yaml
Labels: cleanup

#1198 prevent processing of characters beyond the string end
  liblouis/compileTranslationTable.c
Labels: memory error

#1172 Updated Slovak braile table to be inline with the specs and added tests
  NEWS
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/sk-chardefs.cti
  tables/sk-g1.ctb
  tables/sk-translation.cti
  tables/sk.tbl
  tests/braille-specs/sk-g1_harness.yaml
  tests/braille-specs/spaces.yaml
Labels: tables

#1204 Amend + symbol in en-gb-comp8.ctb
  tables/en-gb-comp8.ctb
Labels: tables, needs test, needs news

#1185 prevent memory overflow in compilePassOpcode
  liblouis/compileTranslationTable.c
Labels: memory error, needs news

#1217 Prevent an invalid memory writes in compileRule
  liblouis/compileTranslationTable.c
Labels: memory error

#1211 Tables/gurumuki
  AUTHORS
  NEWS
  tables/gurumuki.cti
  tables/pu-in-g1.utb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/pa.yaml
  tests/braille-specs/spaces.yaml
Labels: tables

#1216 Move translation context into a struct
  liblouis/lou_backTranslateString.c
Labels: back-translation, cleanup

#1213 Add a table for German grade 2 with capitalization
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/de-g2-detailed.ctb
  tables/de-g2.ctb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/de-g2-detailed-specs.yaml
Labels: tables, needs news
