Repository liblouis/liblouis, pull requests merged in 2022-06, with the labels that each got.

#1220 Eliminate internal TranslationTableOpcode values
  liblouis/compileTranslationTable.c
  liblouis/internal.h
  liblouis/lou_backTranslateString.c
Labels: cleanup

#1166 Add a nonumsign opcode
  doc/liblouis.texi
  liblouis/compileTranslationTable.c
  liblouis/internal.h
  liblouis/lou_backTranslateString.c
  liblouis/lou_translateString.c
  tables/ar-ar-g1-core.uti
  tables/de-g0-core.uti
  tables/en-ueb-g1.ctb
  tables/hr-translation.cti
  tables/hu-hu-g1.ctb
  tables/hu-hu-g2.ctb
  tables/lt-6dot.utb
  tables/sl-si-g1.utb
  tables/vi-puncsdef.uti
  tests/Makefile.am
  tests/yaml/Makefile.am
  tests/yaml/capsword.yaml
  tests/yaml/issue-615.yaml
  tests/yaml/nonumsign.yaml
  tests/yaml/numericmode.yaml
  tools/lou_debug.c
Labels: enhancement, needs news

#1225 Minor improvements to the Russian braille table
  NEWS
  tables/ru-litbrl-detailed.utb
  tables/ru-litbrl.ctb
  tests/braille-specs/ru.yaml
Labels: tables

#1227 hu-hu-g1.ctb, hu-hu-g2.ctb: implemented hungarian nonumsign rules
  tables/hu-exceptionwords.cti
  tables/hu-hu-g1.ctb
  tables/hu-hu-g1_braille_input.cti
  tables/hu-hu-g2.ctb
  tables/hu-hu-g2_exceptions.cti
Labels: tables, needs news
