Repository liblouis/liblouis, pull requests merged in 2022-03, with the labels that each got.

#1173 Add a German 6-dot computerbraille table
  NEWS
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/de-comp6.utb
  tables/de-de-comp8.ctb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/de-comp6.yaml
  tests/braille-specs/de-de-comp8.yaml
  tests/braille-specs/de-eurobrl6.yaml
Labels: tables, needs fixup

#1136 Extend braille input and fix hungarian tables backtranslation quality
  NEWS
  tables/Makefile.am
  tables/hu-backtranslate-word-corrections.cti
  tables/hu-chardefs.cti
  tables/hu-exceptionwords.cti
  tables/hu-hu-g1.ctb
  tables/hu-hu-g1_braille_input.cti
  tables/hu-hu-g2.ctb
  tables/hu-hu-g2_exceptions.cti
  tables/hu.tbl
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/hu-hu-g1-numbers.yaml
  tests/braille-specs/hu-hu-g1_backward.yaml
  tests/braille-specs/hu-hu-g1_braille_input_backward.yaml
  tests/braille-specs/hu-hu-g1_braille_input_forward.yaml
  tests/braille-specs/hu-hu-g1_harness.yaml
  tests/braille-specs/hu-hu-g2-numbers.yaml
  tests/braille-specs/hu-hu-g2_backward.yaml
  tests/braille-specs/hu-hu-g2_harness.yaml
Labels: tables

#1174 Upstream sbs changes to de-g*-core
  tables/de-g0-core.uti
  tables/de-g2-core.cti
  tests/braille-specs/de-g2-sbs.yaml
Labels: tables

#1100 Integrate regular and "bidi" German tables
  extra/generate-display-names/display-names
  liblouis/lou_translateString.c
  tables/Makefile.am
  tables/de-accents-detailed.cti
  tables/de-chardefs6.cti
  tables/de-g0-bidi-core.uti
  tables/de-g0-core.uti
  tables/de-g0-detailed.utb
  tables/de-g0.utb
  tables/de-g1-bidi-core.cti
  tables/de-g1-core.cti
  tables/de-g1-detailed.ctb
  tables/de-g1.ctb
  tables/de-g2.ctb
  tables/latinLowercase.uti
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/de-g0-detailed-dictionary.yaml
  tests/braille-specs/de-g0-detailed-specs.yaml
  tests/braille-specs/de-g0.yaml
  tests/braille-specs/de-g1-detailed-dictionary.yaml
  tests/braille-specs/de-g1-detailed-specs.yaml
  tests/braille-specs/de-g1.yaml
  tests/braille-specs/de-g2-sbs.yaml
  tests/braille-specs/de-g2.yaml
Labels: tables

#1177 Fix a problem in German braille with single letters before apostrophe
  NEWS
  tables/de-g2-core.cti
  tests/braille-specs/de-g2.yaml
Labels: tables

#1181 Fix zero-length variable-length-array
  liblouis/lou_translateString.c
Labels: memory error

#1179 Add CI for running usan
  .github/workflows/main.yml
Labels: build system

#1197 Add asan and lsan CI profiles
  .github/workflows/main.yml
Labels: build system

#1200 Move the sanitizer into a separate workflow
  .github/workflows/main.yml
  .github/workflows/sanitizer.yml
Labels: build system
