Repository liblouis/liblouis, pull requests merged in 2022-12, with the labels that each got.

#1271 Fix metadata check
  extra/generate-display-names/Makefile
  extra/generate-display-names/go.mod
  extra/generate-display-names/go.sum
Labels: build system

#1269 Tables/chichewa
  NEWS
  extra/generate-display-names/display-names
  extra/generate-display-names/displayLanguage.go
  tables/Makefile.am
  tables/ny-mw.utb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/ny-mw.yaml
Labels: tables

#1207 Adding fuzzer for lou_translateString and lou_backTranslateString
  .github/workflows/fuzzing.yml
  .gitignore
  configure.ac
  liblouis/Makefile.am
  tables/Makefile.am
  tests/Makefile.am
  tests/fuzzing/README.md
  tests/fuzzing/build-corpus.py
  tests/fuzzing/fuzz_translate.c
  tests/fuzzing/minimize-corpus.sh
Labels: needs fixup

#1242 Experimental Georgian Braille
  AUTHORS
  NEWS
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/ka.utb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/ka.yaml
Labels: tables, needs fixup

#1265 Further improvements to UEB
  NEWS
  tables/en-ueb-chardefs.uti
  tables/en-ueb-g1.ctb
  tables/en-ueb-g2.ctb
  tests/braille-specs/en-ueb-06-numeric_mode.yaml
  tests/braille-specs/en-ueb-g2-dictionary_harness.yaml
  tests/braille-specs/en-ueb-symbols_harness.yaml
Labels: waiting, tables

#1277 Install Scorecard Github workflow
  .github/workflows/scorecards.yml
Labels: security
