Repository liblouis/liblouis, pull requests merged in 2023-08, with the labels that each got.

#1425 Removed redundant if statement.
  liblouis/lou_backTranslateString.c
Labels: needs news

#1424 Removed line continuation feature and updated the few tables that used it.
  liblouis/compileTranslationTable.c
  tables/da-dk-g16-lit_1993.ctb
  tables/da-dk-g26-lit_1993.ctb
  tables/da-dk-g26l-lit_1993.ctb
Labels: needs news, cleanup

#1386 Add virtual dots to Dutch output
  tables/Makefile.am
  tables/nl-BE.dis
  tables/nl-NL-g0.utb
  tables/nl-chardefs.uti
  tables/nl-print.dis
  tables/nl-unicode.dis
  tests/braille-specs/nl-g0_harness.yaml
Labels: tables, needs news

#1427 tables/bengali.cti: added \x0964 character
  tables/bengali.cti
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/bn.yaml
Labels: tables, needs news

#1414 Added few modifications and new unicode symbols into the tables/nemethdefs.cti file
  tables/nemethdefs.cti
  tests/braille-specs/nemeth.yaml
Labels: tables, needs news
