Repository liblouis/liblouis, pull requests merged in 2023-12, with the labels that each got.

#1450 added contracted grade 2 table for Filipino
  .github/workflows/fuzzing.yml
  AUTHORS
  NEWS
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/fil-g2.ctb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/fil.yaml
Labels: tables

#1488 Possibility to specify table via query in lou_translate
  doc/liblouis.texi
  tools/lou_translate.c
Labels: enhancement, needs doc

#1476 Work I did so far regarding the "emphasis phrase with bounding punctuation" issue (#1465)
  liblouis/lou_translateString.c
  tests/braille-specs/en-ueb-rueb.yaml
Labels: enhancement, needs news

#1471 Fail if the size param to memcpy is negative
  liblouis/lou_translateString.c
Labels: bug, memory error, needs news, fuzzing
