Repository liblouis/liblouis, pull requests merged in 2023-03, with the labels that each got.

#1316 Update zh-tw.ctb to version 2023-02
  tables/zh-tw.ctb
  tests/braille-specs/zh-tw-dictionary.yaml
  tests/braille-specs/zh-tw.yaml
Labels: needs news

#1319 Fix bug in doCompbrl()
  liblouis/lou_translateString.c
Labels: bug

#1315 trying to update the table with character ! and #.
  NEWS
  tables/sl-si-comp8.ctb
Labels: tables, needs test, needs metadata, needs news

#1326 Add the python tests and examples to the distribution tarball
  .gitignore
  NEWS
  configure.ac
  python/Makefile.am
  python/README.md
  python/examples/Makefile.am
  python/tests/Makefile.am
Labels: Python

#1333 Finish removing support for Python 2
  python/louis/__init__.py.in
Labels: bug, Python, needs news
