Repository liblouis/liblouis, pull requests merged in 2024-06, with the labels that each got.

#1525 Fix various Serbian backtranslation issues (#1523)
  AUTHORS
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/sr-Cyrl.ctb
  tables/sr-chardefs.cti
  tables/sr-common.cti
  tables/sr-cyrletters.cti
  tables/sr-g1.ctb
  tables/sr-latletters.cti
  tables/sr.ctb
  tables/sr.tbl
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/litdigits6Dots_backward.yaml
  tests/braille-specs/spaces.yaml
  tests/braille-specs/sr-g1_harness.yaml
  tests/braille-specs/sr.yaml
Labels: tables, back-translation, needs fixup, needs news

#1529 Add Yiddish Braille Table
  .github/workflows/fuzzing.yml
  AUTHORS
  NEWS
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/he-IL.utb
  tables/yi.utb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/yi.yaml
Labels: tables

#1568 Adding support for all three dialects of Syriac.
  .github/workflows/fuzzing.yml
  extra/generate-display-names/display-names
  extra/generate-display-names/displayLanguage.go
  tables/Makefile.am
  tables/syc.utb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/syc.yaml
Labels: tables, needs news

#1566 Added Transliteration table for access to ancient languages through t…
  .github/workflows/fuzzing.yml
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/cuneiform-transliterated.utb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/cuneiform-transliterated.yaml
Labels: tables, needs fixup, needs news

#1553 Included Akkadian braille table.
  .github/workflows/fuzzing.yml
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/akk.utb
  tables/uga.utb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/akk.yaml
Labels: tables, needs news

#1557 Improvements to Dutch virtual dots
  .gitignore
  extra/generate-display-names/Makefile
  extra/generate-display-names/display-names
  liblouis/compileTranslationTable.c
  liblouis/internal.h
  liblouis/lou_translateString.c
  tables/Makefile.am
  tables/nl-BE.dis
  tables/nl-NL-g0.utb
  tables/nl-NL-g0.utb.in
  tables/nl-chardefs.uti.in
  tables/nl-print.dis
  tables/nl-unicode.dis
  tables/nl.tbl
  tests/braille-specs/litdigits6Dots_backward.yaml
  tests/braille-specs/nl-g0_harness.yaml
  tests/braille-specs/spaces.yaml
  tests/yaml/letterDefTest_harness.yaml
Labels: tables, needs news

#1564 Added Biblical Hebrew with Kantelation marks
  .github/workflows/fuzzing.yml
  extra/generate-display-names/display-names
  extra/generate-display-names/displayLanguage.go
  tables/Makefile.am
  tables/hbo.utb
  tables/he-IL-comp8.utb
  tables/he-IL.utb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/hbo.yaml
Labels: tables, needs news

#1584 Delete zh_HK.tbl and move metadata to zh-hk.ctb
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/zh-hk.ctb
  tables/zh_HK.tbl
  tests/braille-specs/spaces.yaml
Labels: tables

#1574 Remove loweredDigits6dots from Spanish Character Definitions
  tables/es-chardefs.cti
  tests/braille-specs/es-g2.yaml
Labels: tables, needs test

#1581 Added sumero akkadian
  .github/workflows/fuzzing.yml
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/akk-borger.utb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/akk-borger.yaml
Labels: tables, needs news
