Repository liblouis/liblouis, pull requests merged in 2024-03, with the labels that each got.

#1491 UEB G2: Fix improper use of final letter groupsigns following capital-related indicators
  NEWS
  tables/en-ueb-g2.ctb
  tests/braille-specs/en-ueb.yaml
Labels: tables, needs news

#1499 More improvements in Belarusian and Ukrainian braille
  NEWS
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/bel-detailed.utb
  tables/ru-litbrl.ctb
  tables/uk-detailed.utb
  tables/uk.utb
  tests/braille-specs/bel.yaml
  tests/braille-specs/uk.yaml
Labels: tables

#1493 Fixed back-translation and more in Esperanto tableBuevest esperanto
  NEWS
  tables/eo-g1.ctb
  tables/eo.tbl
  tests/braille-specs/eo-g1_harness.yaml
Labels: tables

#1345 Lao-braille grade 1 with UEB
  .github/workflows/fuzzing.yml
  AUTHORS
  NEWS
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/lo-g1.utb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/lo.yaml
Labels: tables

#1522 Change redundant emphasis classes from warning to debug
  liblouis/compileTranslationTable.c
Labels: needs news
