Repository liblouis/liblouis, pull requests merged in 2024-05, with the labels that each got.

#1552 python: use utf_%d_be encoding on bigendian archs
  python/louis/__init__.py.in
  python/tests/test_louis.py
Labels: bug, python, needs news

#1541 [fix](lou_translate.c): fix issue #1540
  tools/lou_translate.c
Labels: needs news

#1570 Special handling of the new `#+unicode-range` metadata field
  liblouis/metadata.c
Labels: enhancement

#1524 Another Malay Table Correction
  tables/ms-my-g2.ctb
  tests/braille-specs/ms-my-g2.yaml
Labels: tables, needs news
