Repository liblouis/liblouis, pull requests merged in 2024-11, with the labels that each got.

#1646 Instructions for installing Python bindings in a virtual environment
  python/README.md
Labels: documentation, python, needs news

#1675 Extensive changes to en-ueb-computer-code
  tables/en-ueb-g2.ctb
  tests/braille-specs/en-ueb-computer-code.yaml
Labels: tables, needs news

#1678 Fix a typo in the documentation
  doc/liblouis.texi
Labels: documentation
