Repository liblouis/liblouis, pull requests merged in 2025-06, with the labels that each got.

#1776 Bug in Dutch table: an apostrophe after a number is not always a minute sign
  tables/Makefile.am
  tables/nl-NL-g0.utb.in
  tables/nl-chardefs.uti.in
  tables/quotation-marks.uti
  tests/braille-specs/nl-g0_harness.yaml
Labels: tables, needs news

#1792 Fix listDir on Windows to list files instead of dirs
  liblouis/metadata.c
Labels: bug

#1777 add thai braille grade 2
  .github/workflows/fuzzing.yml
  extra/generate-display-names/display-names
  tables/Makefile.am
  tables/th-g1.utb
  tables/th-g1.uti
  tables/th-g2.ctb
  tests/Makefile.am
  tests/braille-specs/Makefile.am
  tests/braille-specs/th-g1.yaml
  tests/braille-specs/th.yaml
Labels: tables, needs news

#1802 Drop prebuilt docs
  HACKING
  README
  doc/Makefile.am
Labels: build system, cleanup
