Repository liblouis/liblouis, pull requests merged in 2025-08, with the labels that each got.

#1820 Hebrew: Add virtual dots and other small improvements
  tables/ancient-languages-borger.utb
  tables/ancient-languages-us.utb
  tables/hbo-cantillated-rules.uti
  tables/hbo-common-rules.uti
  tables/hbo-ihbc-rules.uti
  tables/hbo-slim-rules.uti
  tables/he-common-consonants.uti
  tables/he-common-vowels-ihbc.uti
  tests/braille-specs/hbo.yaml
Labels: tables, needs news

#1821 Support back translation of the Greek final sigma
  tables/grc-international-common.uti
  tests/braille-specs/grc-international-common.yaml
Labels: tables, back-translation, needs news

#1838 Fix a bug in the handling of nocont in conjunction with seqdelimiter
  liblouis/lou_translateString.c
Labels: bug, needs news

#1796 Free tableIndex in lou_free
  liblouis/compileTranslationTable.c
  liblouis/internal.h
  liblouis/metadata.c
Labels: enhancement
